---
const { owner, repo } = Astro.props;

let starCount = 0;
try {
  const response = await fetch(`https://api.github.com/repos/${owner}/${repo}`);
  if (response.ok) {
    const data = await response.json();
    starCount = data.stargazers_count;
  }
} catch (error) {
  console.error('Failed to fetch GitHub stars:', error);
}

const approximate = (count:number) => {
  if (count >= 1000) {
    const mag = Math.trunc(count / 100) / 10;
    return `${mag}k+`;
  } else {
    return `${count}+`;
  }
};
---

<project-stars data-owner={owner} data-repo={repo}>
  <p class="star-count">{approximate(starCount)}</p>
</project-stars>
