---
const { owner, repo } = Astro.props;

let latestVersion = "0.0.0";
try {
  const response = await fetch(`https://api.github.com/repos/${owner}/${repo}/releases`);
  if (response.ok) {
    const data = await response.json();
    if (data.length > 0) {
      latestVersion = data[0].name.replace(/^v/, "");
    }
  }
} catch (error) {
  console.error('Failed to fetch the latest version:', error);
}
---

<project-version data-owner={owner} data-repo={repo}>
  <span id="version">{latestVersion}</span>
</project-version>
